<footer>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col">
            <p>PoorFlix: Porque o boleto vence, mas a vontade de maratonar não passa.</p>
            </div>
            <div class="col">
                <p>Onde a pipoca é de micro-ondas, mas a diversão é de cinema.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                &REG; todos os diretos reservados
            </div>
            <div class="col">
                <p>Wagner, Hiago, Danilo, Adrian</p>
            </div>
            <div class="col">
                <strong>PoorFlix</strong>
            </div>
        </div>
    </div>
</footer>