<header>
    <div class="menu-container">
        <ul class="menu">
            <li><a href="cadastro">Cadastro de Filmes</a></li>
            <li><a href="/">Lista de Filmes</a></li>
        </ul>
    </div>
</header>